body {
  background-color: #f0f0f0;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}

#wrap {
  position: absolute;
  top: 1em;
  right: 0.5em;
  z-index: 1000;

}

.thumb {
  width: 70px;
  height: 70px;
  z-index: 1000;
  border: 2px solid transparent;
  margin-bottom: 5px;
  cursor: pointer;
}

.thumb-light {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/vector-map-light.jpg);
  background-size: contain;
  border: 2px solid #ffffff
}

.thumb-dark {
  background-image: url(https://samples.thinkgeo.com/cloud/example/image/vector-map-dark.jpg);
  background-size: contain
}

.ol-control button {
  height: 1.2em !important;
  width: 1.2em !important;
  border: solid 1px #ccc;
  font-size: 1.5em !important;
  background-color: #fff !important;
  color: #2d3c4d;
  cursor: pointer;
  border-radius: 2px;
}

.ol-control button:focus {
  outline: unset;
}

.ol-full-screen {
  right: unset;
  left: 0.5em;
  top: 5.5em;
}

#error-modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: #0000006e;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: #f0f0f0;
  border: 1px solid #b8b8b8;
}

.modal-content p {
  text-align: left;
}

.modal-content button {
  color: #fff;
  background-color: #3d3d3e;
  border-color: #3d3d3e;
  border-radius: 4px;
  padding: 0 7px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  margin-right: 20px;
}

.hide {
  display: none;
}

@media (max-width: 767px) {
  .modal-content {
    width: 80vw;
  }
}